@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
:root {
  --standart-color: #ffdb00;
  --secondary-color: #118bd7;
  --red-color: #3e3092;
  --colred-color: #f4223c;
  --colforic-color: #0098ff;

  --custom-font: "Roboto", sans-serif;
}
.headerFullWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.headerTopWrap {
  width: 100%;
  height: 120px;

  display: flex;

  align-items: center;
  justify-content: space-around;
}
.wrapSocial {
  width: auto;
  height: 100%;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.iOutlineInstagram {
  font-size: 30px;
  color: var(--colforic-color);
  cursor: pointer;
}
.whatApp {
  font-size: 30px;
  color: var(--colforic-color);
  cursor: pointer;
}
.wrapCenter {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapLang {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}
.langP {
  font-family: "Fredoka One", Sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.picLan {
  height: 50px;
  width: auto;
}
.langPSla {
  font-size: 40px;
  color: var(--red-color);
}
.wrapLogin {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.iOutlineUser {
  font-size: 30px;
  color: var(--colforic-color);
  cursor: pointer;
}
.wrapLog {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pLofg {
  margin-right: 10px;
  color: var(--colforic-color);
  font-family: var(--custom-font);
}
.headerBottomWrap {
  width: 100%;
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logoSt {
  height: 80px;
  width: auto;
  cursor: pointer;
}
.navigateL {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.navigateUl {
  width: 70%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  list-style-type: none;
  top: -23px;
}
.navigateLifirst {
  border-radius: 10px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: calc(63px - 10px);
  background: #0098ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--custom-font);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  align-self: flex-end;
}
.navigateLifirst:hover {
  margin-bottom: 10px;
}
.navigateLisecond {
  border-radius: 10px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: calc(63px - 10px);
  background: #00cc8c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--custom-font);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  align-self: flex-end;
}
.navigateLisecond:hover {
  margin-bottom: 10px;
}
.navigateLithre {
  border-radius: 10px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: calc(63px - 10px);
  background: #9bc800;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--custom-font);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  align-self: flex-end;
}
.navigateLithre:hover {
  margin-bottom: 10px;
}
.navigateLifour {
  border-radius: 10px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: calc(63px - 10px);
  background: #ffa100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--custom-font);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  align-self: flex-end;
}
.navigateLifour:hover {
  margin-bottom: 10px;
}
.navigateLifive {
  border-radius: 10px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: calc(63px - 10px);
  background: #ff7203;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--custom-font);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  align-self: flex-end;
}
.navigateLifive:hover {
  margin-bottom: 10px;
}
.navigateLisix {
  border-radius: 10px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: calc(63px - 10px);
  background: #ff4642;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--custom-font);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  align-self: flex-end;
}
.navigateLisix:hover {
  margin-bottom: 10px;
}
.navigateLiLink {
  font-family: var(--custom-font);
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
