@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

:root {
  --standart-color: #ffdb00;
  --secondary-color: #118bd7;
  --red-color: #3e3092;
  --colred-color: #f4223c;
  --cufredoc-font: "Fredoka", sans-serif;
  --titletex-color: #414042;
  --ptext-color: #73757b;
  --blocab-color: #f1f2f2;
  --custom-font: Ubuntu;
}
.modal {
  width: calc(100% - 40px);
  padding: 20px 20px 20px 20px;

  max-height: 90vh; /* Встановлюємо максимальну висоту на 80% висоти екрану */
  overflow-y: auto; /* Додаємо вертикальну прокрутку, якщо контент перевищує максимальну висоту */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
}
.wrapPaymenTerm {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapPayment {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 10px 10px;
  width: calc(288px - 20px);
  height: calc(350px - 20px);
  background: #ff4642;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
}
.wrapPayment:nth-child(2) {
  background: #ffa000;
  /* Стилі для другого елемента */
}
.wrapPayment:nth-child(3) {
  background: #00cc8c;
  /* Стилі для другого елемента */
}

.wrapPayment:nth-child(4) {
  /* Стилі для третього елемента */
  background: #5637ae;
}

.orderConfirmation {
  position: absolute;
  width: 200px;
  left: calc(50% - 100px);

  top: 65%;

  height: 40px;
  background: white;
  color: var(--red-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: var(--cufredoc-font);
}
.orderConfirmation:hover {
  background: var(--red-color);
  color: white;
}
.forJoin {
  font-family: var(--cufredoc-font);
  font-size: 20px;
  color: var(--red-color);
  font-weight: bold;
  margin-bottom: 0;
}
.forJoinPromo {
  font-family: var(--cufredoc-font);
  font-size: 15px;
  margin-bottom: 5px;
}
.forJoinPromoBalance {
  font-family: var(--cufredoc-font);
  font-size: 20px;
  font-weight: bold;
  color: var(--red-color);
}
.modal::-webkit-scrollbar {
  width: 6px;
}
.modal::-webkit-scrollbar-track {
  background: rgba(62, 48, 146, 0.5);
  border-radius: 10px;
}
.modal::-webkit-scrollbar-thumb {
  background: #3e3092;
  border-radius: 50px;
}
.one {
  width: 100%;
  height: 300px;
  background: #118bd7;
  flex-shrink: 0;
}
.two {
  width: 100%;
  height: 300px;

  flex-shrink: 0;
}
.thr {
  width: 100%;
  height: 300px;
  background: #414042;
  flex-shrink: 0;
}
.four {
  width: 100%;
  height: 300px;

  flex-shrink: 0;
}

/* Додайте стилі для кнопки закриття і інших частин модального вікна */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #007bff;
}
.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  color: var(--colred-color);
}
.allPop {
  border-radius: 10px;
}
.videoStyleMp {
  width: 100%;
  height: auto;
}
.videoTextWr {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.descWrFirst {
  width: 90%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 30px;
}
.firstP {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.h1CourseName {
  font-family: var(--cufredoc-font);
  font-size: 20px;
  color: var(--titletex-color);
}
.pDesc {
  width: 80%;
  font-family: var(--cufredoc-font);
  font-size: 15px;
  color: var(--ptext-color);
}
.respWrap {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.respAutorPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.pDescWrP {
  width: 70%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--ptext-color);
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-family: var(--cufredoc-font);
  font-size: 15px;
  color: var(--ptext-color);
}
.uploadFoto {
  width: 90%;
  height: 100px;
  border-radius: 10px;
  background: #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.aiFillCamera {
  color: var(--ptext-color);
  font-size: 80px;
}
.whotNeedWrTo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wNedFi {
  width: 43%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background: #d0d0d0;
  color: var(--titletex-color);
  font-size: 20px;
  font-family: var(--cufredoc-font);
}
.addCom {
  font-family: var(--cufredoc-font);
  font-size: 30px;
  color: var(--titletex-color);
  margin-top: 0;
}
.textAreaComment {
  width: 90%;
  height: 100px;
  border-radius: 10px;
  color: var(--ptext-color);
  font-family: var(--cufredoc-font);
  font-size: 20px;
  padding: 10px;
}
.buttonSend {
  width: 95%;
  height: 50px;
  font-size: 25px;
  color: white;
  font-family: var(--cufredoc-font);
  border-radius: 5px;
  border: none;
  background: var(--red-color);
  margin-top: 10px;
}
.addComCour {
  font-size: 20px;
  font-family: var(--cufredoc-font);
  color: var(--red-color);
  font-weight: bold;
  margin-top: 0;
  cursor: pointer;
}
.discountWrapOrder {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.promoInput {
  width: 60%;
  height: 30px;
}
.promoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--cufredoc-font);
  font-weight: bolder;
  width: 180px;
  flex-shrink: 0;
  height: 35px;
  background: var(--secondary-color);
}
.minTarif {
  font-family: var(--cufredoc-font);
  font-size: 30px;
  color: white;
  font-weight: bolder;
  margin-bottom: 0;
}
.minTarifDesc {
  font-family: var(--cufredoc-font);
  font-size: 25px;
  color: white;
  margin-bottom: 0;
}
.minTarifDescM {
  font-family: var(--cufredoc-font);
  font-size: 20px;
  color: white;
}
.wrapPicFirst {
  width: 60%;
  height: 160px;
}
.byTheSub {
  font-family: var(--cufredoc-font);
  font-size: 30px;
  color: var(--red-color);
  font-weight: bolder;
}
.byTheSuDesc {
  font-family: var(--cufredoc-font);
  font-size: 20px;
  width: 80%;
  text-align: center;
  color: var(--red-color);
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 40px;
}
