:root {
  --standart-color: #ffdb00;
  --secondary-color: #118bd7;
  --red-color: #3e3092;
  --colred-color: #f4223c;
  --cufredoc-font: "Fredoka", sans-serif;
  --custom-font: Ubuntu;
}
.cabinetWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstSection {
  width: 100%;
  height: 300px;
  background: var(--secondary-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.cabinetH1 {
  font-family: var(--custom-font);
  font-size: 40px;
  color: white;
}
.userInfo {
  position: absolute;
  width: 1000px;
  height: calc(130px - 20px);
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(233, 232, 232, 0.5);
  top: calc(100% - 65px);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapUseInfo {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.picWrap {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(233, 232, 232, 0.5);
}
.picUser {
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(233, 232, 232, 0.5);
  width: 100%; /* Ширина блока, де розміщена фотографія */
  height: auto; /* Висота блока, де розміщена фотографія (змініть на потрібну вам висоту) */

  background-size: cover; /* Масштабувати фон так, щоб він покривав весь блок */
  background-position: center; /* Центрувати фон */
}
.wrapDesc {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.stylePName {
  font-family: var(--custom-font);
  font-size: 18px;
  color: var(--red-color);
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}
.aiOutlineStar {
  font-size: 25px;
  color: #ffdb00;
}
.aiFillSetting {
  font-size: 35px;

  cursor: pointer;
  color: var(--colred-color);
}
.listPropWrap {
  width: 1020px;
  height: auto;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.listULW {
  width: auto;
  height: 100%;
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.listLi {
  font-family: var(--custom-font);
  font-size: 20px;
  font-weight: bold;
  color: var(--red-color);
  margin-right: 50px;
  cursor: pointer;
}
.activeItem {
  color: var(--standart-color);
}
.notCpurse {
  width: 990px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  padding-left: 30px;
  border-radius: 10px;
  margin-bottom: 200px;
  display: flex;
  background: var(--secondary-color);
  align-items: center;
}
.haveCourseWrap {
  width: 990px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.youDont {
  font-size: 20px;
  font-family: var(--custom-font);
  color: white;
}
.wrapOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: auto;
  margin-right: 20px;
  height: 100%;
}
.quit {
  font-family: var(--custom-font);
  color: var(--red-color);
  font-size: 20px;
  margin-top: 0;
  font-weight: bold;
  cursor: pointer;
}
.changeDataWrap {
  position: fixed;
  width: 70%;
  border-radius: 30px;
  height: auto;
  padding-bottom: 30px;
  background: #3e51c1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.changeDataWrapSmall {
  width: 95%;
  height: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameCountWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countH2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 111%;
  color: white;
}
.countSvg {
  margin-right: 15px;
  margin-top: 18px;
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
  font-size: 30px;
  color: white;
}
.changeDataWrapSmall {
  width: 95%;
  height: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameCountWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countH2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 111%;
  color: white;
}
.inputWrapCard {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inputChangeName {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 111%;
  color: white;
}
.likeButtonChange {
  width: 227px;
  height: 60px;
  background: #f7cb25;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 117.5%;
  /* or 21px */
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  margin-top: 30px;
  color: #3e3092;
  cursor: pointer;
}
.workWrap {
  width: 1020px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}
.h1YourWork {
  font-family: var(--custom-font);
  color: var(--red-color);
  font-size: 30px;
}
.allLesWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lesWrap {
  width: calc(100% - 20px);
  height: auto;
  display: flex;
  padding: 10px 10px 10px 10px;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 0 10px 5px rgba(233, 232, 232, 0.5);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mesWrap {
  align-self: flex-start;
  width: calc(80% - 20px);
  height: auto;
  display: flex;
  padding: 10px 10px 10px 10px;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 0 10px 5px rgba(233, 232, 232, 0.5);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.descWrap {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.linkLabel {
  font-family: var(--custom-font);
  color: var(--red-color);
  font-size: 25px;
}
.linkVideName {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--custom-font);
  color: var(--secondary-color);
}
.potoWrap {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgStyle {
  max-width: 100%;
  height: auto;
}
.statusCheck {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.statPp {
  font-family: var(--custom-font);
  width: 80%;
  flex-shrink: 0;
  word-wrap: break-word;
}
.statP {
  font-family: var(--custom-font);
}
.picAdm {
  width: 40px;
  height: auto;
  margin-right: 15px;
}
.wrapMesAndN {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pAdm {
  font-family: var(--custom-font);
  font-size: 20px;
  margin-top: 0;
  color: var(--red-color);
}
.pAdmMes {
  font-family: var(--custom-font);
  margin-top: 0;
}
.date {
  font-family: var(--custom-font);
  color: #7e7e7e;
  margin-left: 15px;
  margin-top: 5px;
}
.courseWrap {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.divWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.divWrap:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.pictureWrap {
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrapTextC {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.pTitle {
  font-family: var(--custom-font);
  font-size: 30px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}
.pdesc {
  font-family: var(--custom-font);
  font-size: 18px;

  color: white;
  width: 600px;
  text-align: center;
  margin-top: 10px;
}
.refLinkP {
  color: white;
  font-family: var(--cufredoc-font);
  font-size: 18px;
}
