:root {
  --standart-color: #ffdb00;
  --secondary-color: #118bd7;
  --red-color: #3e3092;
  --colred-color: #f4223c;

  --custom-font: Ubuntu;
}
.contactWrap {
  padding: 50px;
  width: calc(100% - 100px);
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mapWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  height: auto;
  margin-right: 50px;
}
.h1Map {
  font-family: var(--custom-font);
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.mapSt {
  width: 400px;
  height: 400px;
}
.companyInfoWr {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ukAdr {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.newtonH2 {
  margin-top: 110px;
  font-family: var(--custom-font);
  font-size: 30px;
  color: white;
}
.adressWrapP {
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 8px;
  color: white;
}
.formWrap {
  width: 1300px;
  margin-top: 10px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
}
.contactUs {
  font-family: var(--custom-font);
  font-size: 30px;
  color: black;
}
.formicInputs {
  width: calc(630px - 20px);
  height: 80px;
  border: none;
  border-radius: 10px;
  background: #eef8ff;
  margin-top: 30px;
  padding-left: 20px;
  color: #5c489e;
  font-family: var(--cufredoc-font);
  font-size: 20px;
}
.formicInputsSec {
  width: calc(100% - 20px);
  height: 80px;
  border: none;
  border-radius: 10px;
  background: #eef8ff;
  margin-top: 30px;
  padding-left: 20px;
  color: #5c489e;
  font-family: var(--cufredoc-font);
  font-size: 20px;
}
.formicInputsSec::placeholder {
  color: #5c489e;
}
.formicInputs::placeholder {
  color: #5c489e;
}
.formicArea {
  width: calc(100% - 20px);
  height: 150px;
  border: none;
  border-radius: 10px;
  background: #eef8ff;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 20px;
  color: #5c489e;
  font-family: var(--cufredoc-font);
  font-size: 20px;
}
.formicArea::placeholder {
  color: #5c489e;
}
.buttonFormicSend {
  margin-top: 30px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  height: 70px;
  border: none;
  background: var(--standart-color);
  color: #3c257d;
  font-family: var(--cufredoc-font);
  font-weight: bold;
  font-size: 20px;
  transition: background 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
  align-self: center;
}
.buttonFormicSend:hover {
  background: #ff7203;
}
.conWr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 70px;
}
.firstPInBigAvo {
  font-family: var(--cufredoc-font);
  color: #ff7203;
  font-size: 25px;
  margin-bottom: 0;
  font-weight: bolder;
}
.bigAbH2 {
  font-family: var(--cufredoc-font);
  color: #482f92;
  font-size: 60px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pNearH {
  font-family: var(--cufredoc-font);
  color: #7965b5;
  font-size: 20px;
  width: 60%;
  text-align: center;
}
.wrapBlockMail {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.emailBlock {
  width: calc(401px - 80px);
  height: calc(312px - 80px);
  padding: 40px 40px 40px 40px;
  background: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}
.phoneBlock {
  width: calc(401px - 80px);
  height: calc(312px - 80px);
  padding: 40px 40px 40px 40px;
  background: #c810a2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ioMdMail {
  color: #ffe700;
  font-size: 50px;
}
.mailB {
  font-family: var(--cufredoc-font);
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
}
.mailBDesc {
  font-family: var(--cufredoc-font);
  text-align: center;
  font-size: 20px;
  color: white;
}
.mailHref {
  font-family: var(--cufredoc-font);
  text-align: center;
  font-size: 20px;
  color: white;
}
.firsAdmT {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
