:root {
  --standart-color: #ffdb00;
  --secondary-color: #118bd7;
  --red-color: #3e3092;
  --colred-color: #f4223c;
  --cufredoc-font: "Fredoka", sans-serif;
  --custom-font: Ubuntu;
}
.allCoursesWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleWrap {
  width: calc(100% - 100px);
  height: auto;
  padding: 50px;
  background: url("../../img/parallax-1.webp");
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: center;
}
.titleReservWrap {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapTitleSmall {
  margin-top: 80px;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.titleCourseH1 {
  font-family: var(--cufredoc-font);
  font-size: 50px;
  color: #ff7203;
  margin-bottom: 0;
}
.titleCourseP {
  font-family: var(--cufredoc-font);
  font-size: 25px;
  width: 90%;
  color: #482f92;
  font-weight: bold;
}
.smalListUK {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin-top: 0;
}
.smallListLi {
  font-family: var(--cufredoc-font);
  font-size: 20px;
  color: #482f92;
  margin-top: 10px;
}
.listCatAndProdWR {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.ulForcategory {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.liForCategory {
  width: calc(300px - 40px);
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  background: #ff7200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--cufredoc-font);
  cursor: pointer;
  margin-top: 5px;
}
.pInLiCat {
  color: white;
  font-family: var(--cufredoc-font);
  font-size: 20px;
  font-weight: bold;
}
.aiOutlineDown {
  color: white;
  font-size: 25px;
  flex-shrink: 1;
}
.subCategoryList {
  position: absolute;
  width: calc(300px - 40px);
  top: 60px;
  z-index: 3;
  left: calc(50% - 150px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  list-style-type: none;
}
.subCategoryItem {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--secondary-color);
  margin-top: 5px;
  cursor: pointer;
  color: white;
  font-family: var(--cufredoc-font);
  font-size: 20px;
}
.wrapListCat {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 20px;
}
.courseWrapList {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lessonsWrap {
  width: 450px;
  margin-right: 10px;
  height: 500px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
}
.circulAgeWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red-color);
  font-size: 19px;
  transform: rotate(-20deg);
  font-weight: bolder;
  text-align: center;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ff7203;
  top: calc(293px - 100px);
  right: 20px;
}
.pictureStyleLes {
  background-size: cover;
  width: 100%;
  height: 293px;
  border-radius: 10px 10px 0 0;
}
.informBlLessWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  background: #0098ff;
  width: calc(100% - 30px);
  height: 180px;
  border-radius: 0 0 10px 10px;
}
.courseName {
  font-family: var(--cufredoc-font);
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
  margin-top: 15px;
}
.courseDesc {
  font-family: var(--cufredoc-font);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
.buttonLesson {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background: white;
  color: var(--red-color);
  font-family: var(--cufredoc-font);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
